<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("input:text").eq(0).focus();
		$("#spinner").hide();
	});
</script>
